name: Build OpenWrt

on:
  schedule:
    - cron: "0 2 1 * *"
  push:
    branches:
      - master

env:
  BOARD: "ramips"
  SUBTARGET: "mt7621"
  PROFILE: "dlink_dap-x1860-a1"
  OPENWRT_RELEASE: "23.05.6"
  PACKAGES: "zerotier luci-app-ttyd ttyd luci-app-shadowsocks-libev shadowsocks-libev-ss-server luci wpad iperf3 ethtool mtr iwinfo ca-bundle iperf nano htop dawn luci-app-dawn -luci-proto-ppp -ppp -ppp-mod-pppoe -kmod-pppox -kmod-pppoe -kmod-ppp -wpad-basic-wolfssl -wpad-basic-mbedtls"

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    permissions:
          contents: write
          discussions: write
    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Get commit hash
      id: commit
      run: echo "SHORT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

    - name: Initialization environment
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        sudo mkdir -p /mnt/workdir
        sudo chown $USER:$GROUPS /mnt/workdir

    - name: Download imagebuilder
      working-directory: /mnt/workdir
      run: |
        curl -O "https://downloads.openwrt.org/releases/${{ env.OPENWRT_RELEASE }}/targets/${{ env.BOARD }}/${{ env.SUBTARGET }}/openwrt-imagebuilder-${{ env.OPENWRT_RELEASE }}-${{ env.BOARD }}-${{ env.SUBTARGET }}.Linux-x86_64.tar.xz"
        tar xvaf openwrt-imagebuilder-${{ env.OPENWRT_RELEASE }}-${{ env.BOARD }}-${{ env.SUBTARGET }}.Linux-x86_64.tar.xz
        ln -sf /mnt/workdir/openwrt-imagebuilder-${{ env.OPENWRT_RELEASE }}-${{ env.BOARD }}-${{ env.SUBTARGET }}.Linux-x86_64 $GITHUB_WORKSPACE/openwrt
 
    - name: Download version info
      run: |
        curl -O "https://downloads.openwrt.org/releases/${{ env.OPENWRT_RELEASE }}/targets/${{ env.BOARD }}/${{ env.SUBTARGET }}/version.buildinfo"
        echo "OPENWRT_VERSION=$(cat version.buildinfo)" >> $GITHUB_ENV
        
    - name: Download locally installed packages
      run : |
        mkdir -p openwrt/packages
        cd openwrt/packages
        curl -O -L $(curl https://api.github.com/repos/pymumu/smartdns/releases/latest | grep browser_ | grep mips-openwrt |cut -d\" -f4)
        curl -O -L $(curl https://api.github.com/repos/pymumu/smartdns/releases/latest | grep browser_ | grep luci-all |cut -d\" -f4)
        
    - name: Build the image
      id: image
      run: |
        cd openwrt
        make image PROFILE="${{ env.PROFILE }}" PACKAGES="${{ env.PACKAGES }}"

    - name: Create Release and Upload Asset
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        IMAGE_FILE="openwrt/bin/targets/${{ env.BOARD }}/${{ env.SUBTARGET }}/openwrt-${{ env.OPENWRT_RELEASE }}-${{ env.BOARD }}-${{ env.SUBTARGET }}-${{ env.PROFILE }}-squashfs-sysupgrade.bin"
        
        gh release create "${{ steps.commit.outputs.SHORT_SHA }}" \
          --title "OpenWrt ${{ env.OPENWRT_VERSION }}" \
          --notes "This release is based on ${{ env.OPENWRT_VERSION }} OpenWrt build with these packages ${{ env.PACKAGES }} for ${{ env.PROFILE }} router.\n\nCommit: ${{ steps.commit.outputs.SHORT_SHA }}" \
          "$IMAGE_FILE"
